<div *ngIf='statusRes==="res-home"'>
  <h3>Ricerca</h3>
  <input id='research' (keyup)=findBook()><br>
  <app-result [resResult]='resResult'></app-result>
</div>
<div *ngIf='statusRes==="res-des"'>
  <app-description [singleBook]='singleBook' [loan]='loan'></app-description>
  <div *ngIf='loan===false'>
    <app-loan [singleBook]='singleBook' (loanEvent)='emitStatus($event)'></app-loan><br><br>
    <app-removal [singleBook]='singleBook' (removalEvent)='emitStatus($event)'></app-removal><br><br>
  </div>
  <div *ngIf='loan===true'>
    <app-return [singleBook]='singleBook' (returnEvent)='emitStatus($event)'></app-return>
  </div>
</div>
